table div {
    text-align: center;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    width: 22vw;
}

.localization {
    width: 8vw;
}

.rentDate {
    width: 10vw;
}

.price {
    width: 10vw;
}

.action {
    width: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action lightning-button-icon {
    margin: 0 5px;
    cursor: pointer;
    height: 100%;
}

.rentDate lightning-input {
    width: 80%;
}

.startDate {
    margin: auto;
}

.endDate {
    margin: auto;
}