.iterator div {
    margin: 0 20px;
}

.actorName {
    width: 200px;
}

.filmTitle {
    text-align: center;
    font-weight: 500;
    transform: translateY(-28px);
    word-break: break-word;
    width: 200px;
}

.hoverButton:hover {
    transition: all 1s;
    transform: translateY(20px);
}