.singleHouse {
    height: 400px;
    width: 500px;
    text-align: center;
    margin: 0.5em;
}

.photo:hover {
    opacity: 0.7;
}

.photo {
    height: 400px;
    width: 500px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.header {
    font-size: 20px;
}

.houseName {
    font-size: larger;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}

.priceSection {
    margin-left: 10px;
}

.priceText {
    font-size: 20px;
    color: white;
}

.oldPrice {
    font-size: 20px;
    color: white;
    text-decoration: line-through rgb(255, 0, 0);
}

.houseDescription {
    position: relative;
    left: 0px;
    top: -410px;
    text-align: left;
}