.wrapper {
    display: flex;
    flex-direction: column;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.name {
    width: 24vw;
}

.localization {
    width: 14vw;
}

.price {
    width: 14vw;
}

.action {
    width: 13vw;
}

.dateInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dateInput lightning-input {
    margin: 15px;
}

.emptySection {
    height: 82vh;
    display: flex;
}

.emptyCart {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: auto;
}

h1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
    width: 250px;
    margin-left: 15vw;
}

table div {
    text-align: center;
}

.font {
    font-size: 15px;
    font-weight: 700;
}