.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 25px;
}

.footer {
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 68vw;
}

.sumPrice {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 4px 20px;
    width: 250px;
}

.rentButton {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 4px 20px;
    margin-left: 10px;
    cursor: pointer;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    width: 22vw;
}

.localization {
    width: 8vw;
}

.rentDate {
    width: 10vw;
}

.price {
    width: 10vw;
}

.action {
    width: 8vw;
}

.dateInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dateInput lightning-input {
    margin: 15px;
}

.emptySection {
    height: 82vh;
    display: flex;
}

.emptyCart {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: auto;
}

h1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
    width: 250px;
    margin-left: 15vw;
}

table div {
    text-align: center;
}

.font {
    font-size: 15px;
    font-weight: 700;
}