.modalInformationSection {
    display: flex;
    flex-direction: row;
}

.mainModal {
    /* width: 70%; */
}

.informationText {
    margin-left: 15px;
    font-size: medium;
}

.genresSection {
    display: flex;
    flex-direction: row;
}

.itemGenresText {
    margin: 0 10px;
}

.filmType {
    margin: 0 0 auto;
}

.comments {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background: #ececec;
    margin-bottom: 10px;
}

.personalSection {
    border-right: solid;
    margin: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: end;
}

.favouriteAndRatingSection {
    flex-direction: row;
}

.textField {
    WIDTH: 100%;
}

.commentarySection {
    display: flex;
    width: 100%;
}

.editNavi {
    display: flex;
    flex-direction: column;
}

.navIcon {
    margin: 5px 5px;
}

.navButton {
    margin: 0 10px;
}

.userCommentary {
    height: 82%;
    margin-bottom: 2px;
}