.buttonSection {
    display: flex;
}

.iterator {
    display: -webkit-box;
    overflow: auto;
}

.iterator div {
    margin: 0 20px;
}

.upcomingTitle {
    width: 200px;
}

.oval {
    height: 30px;
    width: 90px;
    background-color: rgb(19, 100, 221);
    border-radius: 50%;
    text-align: center;
    transform: translate3d(85px, -42px, 33px);
    opacity: 0.8;
    color: white;
    font-weight: bolder;
}

.filmTitle {
    text-align: center;
    font-weight: 500;
    transform: translateY(-28px);
    word-break: break-word;
    width: 200px;
}

.hoverButton:hover {
    transition: all 1s;
    transform: translateY(20px);
}