.THIS {}

.THIS .discountSection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.THIS .discountSettingsHeader {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

.THIS .selectOption {
    width: 35%;
    margin: auto;
}

.THIS .discountInput {
    margin: auto;
}

.THIS .discountButton {
    margin: auto;
}

.THIS .discountDataSection {
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.THIS .dateInput {
    margin: 0 10px;
}